@charset "UTF-8";
#header{
	width:100%;
/* 	background-color: grey; */
}
#header > a{
	width: 100%;
	text-align: center;
	font-size: 36pt;
	text-decoration: none;
	color: maroon;
	font-weight: bold;
	font-style: italic;
}
/* #logo{ */
/* 	float:  */
/* 	width:15%; */
/* } */
#icon > a > div {
	width:10%;
	line-height:30px;
	float:right;
	text-align: center;
	color: white;
	font-style: italic;
	background-color: gray;
}

#searchBar{
/* 	background-color: gray; */
	margin: 10px;
	text-align: center;
}

#searchBar > input {
    background-image: url("../test.jpg");
    background-repeat: no-repeat;
    text-indent: 30px;
}
#gnb {
	line-height: 3;
	text-align: center;
}
#gnb > a > div {
    width:49.5%;
    float:left;
    margin-left:auto;
    margin-right:auto;
	background-color: yellow;
	border: 1px solid black;
	color: black;
}

#gnb > a > div:hover{
	color: orange;
}
#clear {
	clear:both;
}

.hm{
	margin: 3px;
	padding: 2px;
	border: 1px solid gray;
	float: right;
	color: white;
	text-decoration: none;	
	background-color: gray;
}


